.realm{
    position: fixed;
    z-index: 1;
    background-color: yellowgreen;
    margin-left: 75%;
    margin-right: 25%;
    display: inline-block;
    color: #ffffff;
    padding: 0 8px;
    opacity: 0.5;
    width: 75px;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}